/*
	Timo Strating  |   style.css
	Free for personal use http://creativecommons.org/licenses/by-nc/4.0/
*/



/*********************************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*//*******************************************************************************/
html, body, div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*********************************************************************************/





/*********************************************************************************/
/* BASIC STYLE */
/*********************************************************************************/

*{
    padding : 0;
    margin : 0;
    border : 0;
}

body{
    background-attachment : scroll;
    background-size : 100% auto;
}

h1,h2,h3,h4,h5,h6
{ /* dit zijn alle titels */
    font-family: sans-serif;
}

ul {
    list-style: none;
}

input, textarea {
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}
/*input:focus,*/
/*input.focus {*/
    /*border: solid 1px #707070;*/
    /*box-shadow: 0 0 5px 1px #969696;*/
/*}*/

td, tr {
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
}


/*********************************************************************************/
/* BASIC STYLE */
/*********************************************************************************/

.blended_grid{
    display : block;
    width : 100%;
    max-width : 1050px;
    overflow : auto;
    margin : 50px auto 0 auto;
}
.topBanner{
    background-color : rgba(73, 255, 0, 0.100);
    float : left;
    clear : none;
    height : 50px;
    width : 90%;
    max-width : 1050px;
}
.middleBanner{
    background-color : rgba(0, 255, 190, 0.50);
    float : left;
    clear : none;
    height : 450px;
    width : 90%;
    max-width : 1050px;
}
.leftBanner{
    background-color : rgba(60, 79, 255, 0.50);
    float : left;
    clear : none;
    height : 250px;
    width : 30%;
    max-width : 1050px;
}
.centerBanner{
    background-color : rgba(255, 99, 0, 0.50);
    float : left;
    clear : none;
    height : 250px;
    width : 30%;
    max-width : 1050px;
}
.rightBanner{
    background-color : rgba(255, 0, 222, 0.50);
    float : left;
    clear : none;
    height : 250px;
    width : 30%;
    max-width : 1050px;
}
.bottomBanner{
    background-color : rgba(68, 13, 255, 0.50);
    float : left;
    clear : none;
    height : 100px;
    width : 90%;
    max-width : 1050px;
}


/*********************************************************************************/
/* NAVBAR */
/*********************************************************************************/



/*********************************************************************************/
/* NOTES */
/*********************************************************************************/



/*********************************************************************************/
/* FOOTER */
/*********************************************************************************/

footer
{ /* dit is de onderbalk */
    width: 100%;       height: 60px;
    /*background-color: rgb(35,45,55); *//* FALLBACK */
    /*background-color: rgba(35,45,55,0.9); *//* blue */
    background-color: rgb(35,35,35); /* FALLBACK */
    background-color: rgba(35,35,35,0.9); /* dark */
    margin: 0;      padding-top: 20px;
}

footer > ul
{ /* Dit is de lijst in de onderbalk */
    width: 80%;     height: 0;
}

footer > ul > li
{ /* Dit zijn de lijst onderdelen in de onderbalk */
    color: #ffffff;
    font-size: 18px;
    float: left;
    margin-left: 20px;
}

footer  a
{ /* Dit zijn de linken in de onderbalk*/
    color: rgb(169, 199, 217);
}

/*********************************************************************************/
/* MEDIA QUERIES */
/*********************************************************************************/


